<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>test</h3>
    <% console.log(member);%>
    <hr>
    <% for(var i=0 ; i < member.length; i++){
        %><%= member[i].id %>
        <%= member[i].name %>
        <%= member[i].addr %><br>
        <%
    } %>
    <hr>
    <% member.forEach(mem=>{ %>
        id : <%= mem.id %><br>
        name : <%= mem.name %><br>
        addr : <%= mem.addr %><hr>
    <% }); %>
</body>
</html>